!!!
%html{ :lang => 'sv' }
  %head
    %meta{ :charset => 'utf-8' }
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/prettyPhoto.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "/stylesheets/style.css", :type => "text/css" }
    %script{ :src => "/javascripts/jquery.min.js" }
    %script{ :src => "/javascripts/jquery.auto-complete.min.js" }
    %script{ :src => "/javascripts/jquery.prettyPhoto.js" }
    %script{ :src => "/javascripts/application.js" }
    %title= page_title
  %body{ :class => body_class }
    %div.content= yield