%h1= page_title
%form{ :action => '/products', :method => 'get' }
  %input{ :type => 'text', :name => 'q', :autofocus => 'true' }
  %input{ :type => 'submit', :value => 'Sök' }

- if !@search.nil? && @search.ok?
  %span.num_found= "Antal träffar #{@search.num_found}"
  %div.products
    - @search.products.each do |product|
      %div.product
        = product.title